* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;    
}

.header {
    height: 145px;
    text-align: center;
    border-bottom: 2px solid #999;
}

.header__logo h1 {
    font: bold 40px 'arial';
    padding-top: 14px;
    letter-spacing: 2px;
}

.header__logo p {
    font: bold 12px 'arial';
    letter-spacing: 2px;    
    margin-top: -1px;
}

.header__gnb ul {
    margin-top: 39px;
}

.header__gnb ul li {
    display: inline-block;
}

.header__gnb ul li a {
    display: block;
    font: bold 14px 'arial';
    color: #999;
    margin: 0px 16px;
    letter-spacing: 1px;
}

.header2 {
    background-color: rgb(100, 100, 100);
    padding: 15px;
    text-align: center;
    font: bold 20px 'arial';
    color: white;
    border-bottom: 2px solid #999;
}

.column {
   
    text-align: center;
    float: left;
    width: 33.33%;
    padding: 0px;
    height: 600px;
    border-bottom: 2px solid #999;
  }

 


  .content{ 
    text-align: center;  
    margin-top: 39px;
    margin-bottom: 39px;
    letter-spacing: 2px;
}